services:
  mongo:
    image: mongo:latest
    container_name: mongo-chat-app
    environment:
      MONGO_INITDB_DATABASE: chat-app
    volumes:
      - mongo-data:/data/db
    networks:
      - chat-net

  server:
    image: sanovis/wechat-server:3.1.1
    container_name: chat-server
    platform: linux/amd64
    environment:
      DATABSE_URL: mongodb://mongo:27017/chat-app
      PORT: 3000
      ORIGIN: http://localhost:5173,http://wechat-react-app.s3-website-sa-east-1.amazonaws.com
      JWT_KEY: (*^*(&(*)^(&*^*&*@()&@!LNASLBKJASBN!123123123@#@@#)))
    depends_on:
      - mongo
    ports:
      - "3000:3000"
    networks:
      - chat-net
    restart: always

volumes:
  mongo-data:

networks:
  chat-net:
